:root {
  --mainGray: #252934;
  --lightCyan: #04C2C9;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainPink: #E31B6D;
}



/* font-family: 'Gotu',
sans-serif;

font-family: 'Shadows Into Light',
cursive;

font-family: 'Oswald',
sans-serif;

font-family: 'Baloo Thambi 2',
cursive; */


body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainGray) !important;
  color: var(--mainWhite) !important;
  font-family: 'Permanent Marker', cursive;
}

.text-title {
  font-family: 'Baloo Thambi 2', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-left: 3em;
  font-weight: bold;
  font-size: 1em;
  color: var(--mainPink);
}

.container-fluid {
  max-width: 1200px;
}

.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card-text {
  color: var(--mainDark) !important;
  font-family: 'Gotu',
    sans-serif;
}

.card-title {
  color: var(--mainDark) !important;
  font-family: 'Shadows Into Light',
    cursive;
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: 1.75rem;
  padding-bottom: .75rem;
  width: 100%;
}