:root {
  --mainGray: #252934;
  --lightCyan: #04C2C9;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainPink: #E31B6D;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainGray) !important;
  color: var(--mainWhite) !important;
  font-family: 'Permanent Marker', cursive;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-left: 3em;
  font-weight: bold;
  /* font-size: 1em; */
  /* color: var(--mainPink); */
}
